.customContainer {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  padding: 20px;
  margin-inline: 10vw;
  margin-bottom: 50px;
}

.customImage {
  width: 100%;
  max-width: 35vw;
  max-height: 650px;
  object-fit: cover;
  border-radius: 10px;
}

.customInfoBox {
  padding: 10px;
  background-color: var(--boxColor);
  width: 100%;
  max-height: 270px;
  transform: translateX(-150px);
  transition: all 0.3s ease;
} 

@keyframes shakeEffect {
  0% {
    rotate: 0deg;
    
  }
  50% {
    rotate: 5deg;
  }
  100% {
    rotate: 0deg;
  }
}

.customInfoBox {
  transition: all 0.3s ease;

  &:hover {
    transform: scale(1.1) translateX(-150px);

    .textHighlight {
      animation-name: shakeEffect;
      animation-iteration-count: 3;
      animation-duration: 0.2s;
      display: inline-block;
      transform-origin: center;
    }
  }
}

.customWrapper {
  display: flex;
  flex-direction: column;
  border: 3px dotted var(--CTA);
  padding: 10px;
}

.customWrapper button {
  margin-top: 50px;
}

.customTextFormat {
  display: grid;
  grid-template-areas: "textField question";
}

.textWrapper {
  grid-area: textField;
  display: flex;
  flex-direction: column;
  width: fit-content;

  p {
    white-space:nowrap;
  }
}

.textHighlight {
  text-decoration: underline;
  text-decoration-color: var(--CTA);
  font-size: clamp(2rem, 4vw, 4rem);
}

.line1, .line2, .question {
  color: var(--highlight);
  font-size: clamp(1.5rem, 4vw, 3rem);
}

.line1 {
  grid-area: line1;
}

.line2 {
  grid-area: line2;
}

.question {
  grid-area: question;
  height: 100%;
  font-size: 7rem;
}

@media screen and (max-width: 900px) {
  .customContainer {
    margin-inline: 10px;
    padding: 0;
    flex-direction: column;
  }

  .customImage {
    max-height: 40vh;
    width: 90vw;
    max-width: none;
    margin-top: 20px;
    border-radius: 10px 10px 0 0;
  }

  .customInfoBox {
    transform: translateX(0);
    width: calc(90vw - 20px);
    border-radius: 0 0 10px 10px;

    &:hover {
      transform: translateX(0);
    }
  }

  .customWrapper {
    button {
      margin-top: 0;
    }
  }

  .textWrapper {
  justify-content: center;
  }
}