VITE_SUPABASE_URL = Paste the API URL here

VITE_SUPABASE_KEY = Paste the API key here

SUPABASE_URL = Paste the API URL here

SUPABASE_KEY = Paste the API key here

SUPABASE_URL = Paste the API URL here

SUPABASE_SERVICE_ROLE_KEY = Paste the Service Role Key here

RESEND_API_KEY= Paste the Resend Email API Key here

VITE_STRIPE_PUBLISHABLE_KEY=Paste the Stripe Publishable Key here

STRIPE_SECRET_KEY= Paste the Stripe Secret Key here

STRIPE_WEBHOOK_SECRET= Paste the Stripe Webhook Secret here