.productCardContainer {
  margin-left: 5vw;
  display: flex;
  gap: 10px;
  align-items: center;
  min-width: 300px;
  height: 250px;
  background-color: var(--boxColor);
}

.productImage {
  width: 60%;
  min-width: 200px;
  height: 90%;
  margin-left: -50px;
  object-fit: cover;
}

.productInfoContainer {
  flex-grow: 0.7;
  height: 90%;
  min-width: 250px;
  padding-right: 10px;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: clamp(0.9rem, 2vw, 1.3rem);
    font-weight: 300;
    margin: 0;
  }

  h2 {
    margin: 0;
    font-weight: 300;
  }

  .discounted {
    font-size: 1.4rem;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
  }

  h3 {
    font-weight: 300;
    margin: 0;
    font-size: 1.7rem;
  }

  p {
    color: black;
    font-size: 1rem;
  }
}

.colorSelection {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-bottom: 10px;

  li {
    height: 25px;
    width: 45px;
    border-radius: 30px;
    background-color: rgb(236, 197, 66);
  }

  li:nth-child(2) {
    background-color: rgb(184, 184, 184);
  }
}

.productInteraction {
  display: flex;
  gap: 10px;
}

@media screen and (max-width: 900px) {
  .productImage {
    margin-left: -50px;
  }
}