.productCardContainer {
  display: flex;
  height: 500px;
  max-width: 300px;
  min-width: 300px;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  background-color: var(--background);
  overflow: hidden;
  border-radius: 15px;
  border: 1px solid var(--highlight);

  button {
    position: absolute;
    top: 10px;
    right: 10px;
  }
}

.productCardContainer:hover {
  img {
    max-height: 100%;
    transition: all 0.3s ease;
  }
}

.productImage {
  width: 100%;
  height: 100%;
  max-height: 70%;
  object-fit: cover;
  transition: all 0.3s ease;
  border-bottom: 2px solid var(--highlight);
}

.productImage:hover {
  width: 110%;
  transition: width 0.3s ease;
}

.priceContainer {
  display: flex;
  flex-direction: row-reverse;
  justify-content: end;
  gap: 20px;
  margin-block: 10px;
}

.productInfoContainer {
  flex-grow: 0.7;
  width: 90%;
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  h1 {
    font-size: clamp(1.4rem, 2vw, 1.6rem);
    font-weight: 400;
    margin: 0;
  }

  h2 {
    text-align: end;
    margin: 0;
    font-weight: 400;
    font-size: 1.7rem;
  }

  .discounted {
    font-size: 1.7rem;
    text-decoration: line-through;
    text-decoration-thickness: 2px;
    text-decoration-color: red;
  }

  h3 {
    font-weight: 400;
    margin: 0;
    font-size: 1.7rem;
  }

  p {
    color: black;
    font-size: 1rem;
  }
}

.colorSelection {
  list-style: none;
  display: flex;
  padding: 0;
  margin: 0;
  gap: 10px;
  margin-bottom: 10px;

  li {
    height: 25px;
    width: 45px;
    border-radius: 30px;
    background-color: rgb(236, 197, 66);
  }

  li:nth-child(2) {
    background-color: rgb(184, 184, 184);
  }
}

.productInteraction {
  display: flex;
  gap: 10px;
}