.aboutBanner {
  height: 600px;
  display: flex;
  justify-content: space-between;
  margin-inline: 3vw;
}

.aboutBannerTextContainer {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-right: 50px;

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--highlight);
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: var(--highlight);
  }
}

.aboutBannerImage {
  object-fit: cover;
  object-position: center;
}

.aboutBannerRight {
  height: 600px;
  display: flex;
  justify-content: space-between;
  margin-inline: 3vw;
}

.aboutBannerTextContainerRight {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 50px;

  h2 {
    font-size: clamp(2rem, 4vw, 3rem);
    color: var(--highlight);
    margin-bottom: 20px;
    margin-top: 0;
  }

  p {
    font-size: clamp(1.5rem, 2.5vw, 2rem);
    color: var(--highlight);
  }
}

@media screen and (max-width: 900px) {
  .aboutBanner {
    flex-direction: column;
  }

  .aboutBannerTextContainer {
    padding-right: 0;
    text-align: center;
  }

  .aboutBannerRight {
    flex-direction: column-reverse;
  }

  .aboutBannerTextContainerRight {
    padding-left: 0;
    text-align: center;
  }
}