.cartPageContainer {
  margin-inline: 5vw;
}

.cartHeader {
  font-size: 3rem;
  font-weight: 300;
  color: var(--highlight);
  font-family: 'storyScript', 'Courier New', Courier, monospace;
  margin: 40px 0px 0px 0px;
}

.contentContainer {
  display: flex;
  gap: 20px;
}

.cartItemList {
  border-top: 2px solid var(--highlight);
  flex: 3;
}

.cartPaymentInfo {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.cartInfo {
  background-color: var(--highlight);
  border-radius: 5px;
  padding: 10px;
  min-width: 350px;

  h2 {
    color: var(--background);
    margin: 0;
    padding: 0 0 5px 0;
    border-bottom: 1px solid var(--background);
  }

  p {
    color: var(--background);
    font-size: 1.5rem;
    text-align: center;
    margin-top: 10px;
  }

  button {
    background-color: var(--boxColor);
    color: var(--highlight);
  }
}

.emptyMessage {
  margin-bottom: 50px;
}

.cartInfoRow {
  display: flex;
  justify-content: space-around;
}

@media screen and (max-width: 900px) {
  .contentContainer {
    flex-direction: column;
  }

  .item1 {
    height: 150px;
  }

  .cartItemList img {
    width: 35vw;
  }

  .cartInfo {
    min-width: auto;
  }

  .cartPaymentInfo {
    margin-bottom: 50px;
  }
}