.productPageContainer {
  padding-inline: 20vw;
  margin-bottom: 30px;
}

.backButtonContainer {
  display: flex;
  margin-block: 30px;
  width: fit-content;
}

.backArrow {
  background-image: url("/src/assets/back_arrow.svg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  height: 40px;
  width: 40px;
}

.backText {
  color: var(--highlight);
  font-size: 2rem;
  font-weight: 500;
}

.productContainer {
  display: flex;
  gap: 20px;
}

.imageContainer {
  width: 50%;
}

.productImage {
  max-height: 800px;
  width: 100%;
  object-fit: contain;
  object-position: center;
  border-radius: 20px;
}

.productText {
  display: flex;
  flex-direction: column;
  width: 100%;

  button {
    height: 50px;
  }
}

.productInfo {
  display: flex;
  flex-direction: column;
  width: 60%;
}

.productHeader {
  margin: 0;
  font-size: 3rem;
  font-weight: 400;
  margin-bottom: 30px;
  border-bottom: 3px dotted var(--compContainer);
}

.priceContainer {
  display: flex;
  align-items: center;
  gap: 20px;
}

.productPrice {
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  color: black;
}

.discountedPrice {
  color: black;
  font-size: 2rem;
  font-weight: 400;
  margin: 0;
  background-color: var(--compContainer);
  border-radius: 10px;
  padding: 5px;
}

.discounted {
  text-decoration: line-through;
  text-decoration-color: red;
  text-decoration-thickness: 2px;
  font-size: 1.7rem;
}

.descriptionContainer {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  width: 100%;
  height: 100%;

  ul {
    list-style: none;
    padding: 0;
    display: flex;
    gap: 20px;
    font-size: 1.7rem;
    width: 100%;
    margin: 0;
  }

  ul li:nth-child(1) {
    border-bottom: 3px solid var(--compContainer);
  }

  p {
    color: black;
    font-size: 1.5rem;
    margin-top: 10px;
  }
}

.descriptionDivider {
  width: 100%;
  background-color: rgba(61, 61, 61, 0.4);
  height: 2px;
  transform: translateY(-2px);
}

.textButtonWrapper {
  display: flex;
  flex-direction: column;
  height: 100%;
  justify-content: space-between;
}

@media screen and (max-width: 900px) {
  .productPageContainer {
    padding-inline: 5vw;
  }

  .productContainer {
    flex-direction: column;
  }

  .imageContainer {
    width: 100%;
  }

  .productImage {
    width: 100%;
  }

  .productHeader {
    font-size: 2.5rem;
  }

  .productInfo {
    width: 100%;
  }

  .sizeContainer {
    margin-bottom: 10px;
  }
}