@font-face {
  font-family: 'poppins';
  src: url("/src/assets/fonts/Poppins-Regular.ttf");
}

@font-face {
  font-family: 'splash';
  src: url("/src/assets/fonts/Splash-Regular.ttf");
}

@font-face {
  font-family: 'londrinaOutline';
  src: url("/src/assets/fonts/LondrinaOutline-Regular.ttf");
}

@font-face {
  font-family: 'montserrat';
  src: url("/src/assets/fonts/Montserrat-VariableFont_wght.ttf");
}

@font-face {
  font-family: 'storyScript';
  src: url("/src/assets/fonts/StoryScript-Regular.ttf");
}

:root {
  --background: rgba(224, 228, 231, 1);
  --boxColor: rgba(189, 218, 236, 1);
  --boxColorFade: rgba(189, 218, 236, .6);
  --compContainer: rgba(235, 188, 168, 1);
  --highlight: rgba(15, 105, 129, 1);
  --CTA: rgba(234, 177, 170, 1);
}

#root {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

html, body {
  box-sizing: border-box;
  background-color: var(--background);
  font-family: 'montserrat', 'Courier New', Courier, monospace;
  margin: 0;
  padding: 0;
}

main {
  padding-top: 60px;
  flex: 1;
}

a {
  text-decoration: none;
  color: var(--background);
  position: relative;
  transition: 0.4s;
}

input {
  font-family: 'montserrat', 'Courier New', Courier, monospace;
  font-size: 1.3rem;
  text-align: center;
  color: var(--background);
}